.card_content {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 20vh;
    padding: 20px;
    margin: 20px 0 20px 0;
    overflow: auto;
    background-color: #f1f1f121;
    box-shadow: 0 4px 8px 0 rgba(16, 14, 126, 0.301);
    border-radius: 10px;

}::-webkit-scrollbar {
    width: 0;
}

.card_list_unit{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}

.button_remove_parede {
    background-color: #f44336;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 30%;
    font-size: x-small;

}

h2{
    text-decoration: underline;
    margin: 10px 0 10px 0;
    color: black;;
}
p{
    font-size: 16px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin: 5px 0 5px 0;

}
.card_resultado {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-bottom: 30px;
}

@media  screen and (min-width: 1024px){
    h2 {
        font-size: 30px;
    }
    p {
        font-size: 25px;
        color: black;
    }
    .card_resultado {
        flex-direction: column;
    }
    
}