.form_content {
    width: 100%;
    height: 100%;
    background-image: url('../../assets/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 40%;
}

.form_inputs {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;
}

.button_add_parede {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: large;
    border-radius: 0px 0px 10px 10px;
}

@media screen and (min-width: 1024px) {
    .form_content {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
    }
    .form_inputs {
        display: flex;        
        padding: 20px;
        align-self: center;
    }
    .button_add_parede {
        width: 75%;
        margin: auto;
    }

}