header {
    background-color: black;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
}

h1 {
    background: linear-gradient(to right, #fbff00, #ff9900, #fc0000, #385cff, #17c400, #00a028);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

img {
    width: 150px;
    height: 100px;
    border-radius: 50%;

}