.input_personalized {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    margin: 8px 0;
    width: 50%;
}

.input_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    color: white;
}
